<h2>Task Details</h2>
<mat-nav-list>
  <a mat-list-item>
    <span matLine><strong>Title:</strong> {{ data.task.title }}</span>
  </a>
  <a mat-list-item>
    <span matLine><strong>Description:</strong> {{ data.task.description }}</span>
  </a>
  <a mat-list-item>
    <span matLine><strong>Status:</strong> {{ data.task.status }}</span>
  </a>
  <a mat-list-item>
    <span matLine><strong>Date:</strong> {{ data.task.date | date:'medium' }}</span>
  </a>
</mat-nav-list>
<div>
  <button mat-button (click)="closeBottomSheet()">Close</button>
</div>