<div class="schedule-container">
  <h2>Weekly Schedule</h2>
  <div class="week-grid">
    <ng-container *ngIf="weekSchedule$ | async as weekSchedule">
      <div *ngFor="let daySchedule of weekSchedule" class="day-column">
        <h3>{{ daySchedule.day }}</h3>
        <div *ngFor="let task of daySchedule.tasks" class="task-item">
          <button mat-button (click)="openTaskDetails(task)">
            {{ task.title }}
          </button>
        </div>
        <p *ngIf="daySchedule.tasks.length === 0">No tasks for this day</p>
      </div>
    </ng-container>
  </div>
</div>