<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" class="sidenav">
    <mat-nav-list>
      <a mat-list-item routerLink="/" (click)="sidenav.close()">Home</a>
      <a mat-list-item routerLink="/tasks" (click)="sidenav.close()">Tasks</a>
      <a mat-list-item routerLink="/schedule" (click)="sidenav.close()">Schedule</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>TASKS</span>
      <span class="spacer"></span>
      <span class="user-name">{{ (userAvatar$ | async)?.name }}</span>
      <img [src]="(userAvatar$ | async)?.avatarUrl" alt="User Avatar" class="user-avatar">
    </mat-toolbar>

    <div class="content-container">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
  