@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: hidden;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  border-radius: 40px;
  width: 100%; 
  padding: 5px;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%); 
}

.hero-mesh-gradient {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  animation: gradientShift 15s ease infinite, meshAnimation 10s ease-in-out infinite;
  z-index: -1;
  margin: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%; 
  padding: 2rem;
}

.hero-content {
  max-width: 600px;
}

.hero-title {
  color: white;
  font-size: 4rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 1rem;
  animation: textWave 2s infinite;
}

.hero-title span {
  color: black !important;
}

.hero-subtitle {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.hero-button {
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #ff4081;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
}

.hero-button:hover {
  background-color: #e91e63;
  transform: scale(1.05);
  cursor: pointer;
}

.bottom-image {
  width: 100%;
  max-width: 500px;
  margin-top: 2rem;
  margin-bottom: -5px; 
}

.bottom-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px 10px 0 0; 
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes meshAnimation {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

@keyframes textWave {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 3rem;
  }
  .hero-subtitle {
    font-size: 1.2rem;
  }

  .bottom-image {
    max-width: 100%;
  }
}