.drag-placeholder {
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  background-color: rgb(246, 246, 246);
}


.new-task{
  display: inline-block;
  padding: 1rem 2rem;
  font-size: 1rem;
  color: #fff;
  background-color: #ff4081;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s, transform 0.3s;
  border: none;
}

.new-task:hover {
  background-color: #e91e63;
  transform: scale(1.05);
  cursor: pointer;
}